<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{LABEL}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{NODE}}</string>
    <string>{{SERVER}}</string>
  </array>
  <key>WorkingDirectory</key>
  <string>{{WORKDIR}}</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>{{PATH}}</string>
    <key>LANG</key>
    <string>en_US.UTF-8</string>
    <key>CLAUDE_REMOTE_CONFIG</key>
    <string>{{CONFIG}}</string>
  </dict>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>Umask</key>
  <integer>63</integer>
  <key>StandardOutPath</key>
  <string>{{STATE_DIR}}/server.out.log</string>
  <key>StandardErrorPath</key>
  <string>{{STATE_DIR}}/server.err.log</string>
</dict>
</plist>
